<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <h1>Welcome to the Home Page!</h1>
            <nav class="nav">
                <ul class="nav-list">
                    
                    {% if current_user.is_authenticated %}
                        <li>User role: {{ current_user.role }} </li>
                        <li><a href="{{ url_for('user_dashboard') }}" class="btn btn-primary">Files</a></li>
                        
                        {% if current_user.role == 'admin' %}
                            <li><a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">Admin Panel</a></li>
                        {% endif %}
                        
                        <li><a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}" class="btn btn-info">Login</a></li>
                        <li><a href="{{ url_for('register') }}" class="btn btn-success">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main content -->
    <main class="main-content">
        <div class="container">
            {% if current_user.is_authenticated %}
                <div class="dashboard-welcome">
                    <h2>Welcome, {{ current_user.first_name }}!</h2>
                    <p>You can browse files or go to the admin panel if you have the appropriate rights.</p>
                </div>
            {% else %}
                <div class="welcome-message">
                    <h2>What would you like to do?</h2>
                    <p>To access files, please register or log in.</p>
                </div>
            {% endif %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Your file-sharing website. <a href="#">Privacy Policy</a></p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>